                 /* Color: Blue */

body {
    color: #535353;
}


a {
    color: #001927;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: #07599a;
}

h2 {
  color: #111;
}

h3 {
    color: #034285;
}


#TopMenu li a, #TopMenu li div {
    border-left: 1px solid #208db5;
    color: #fff;
}

#TopMenu li div a {
    border-left: 0;
}

#TopMenu li a:hover {
    color: #fff;
}

.Menu li a {
    color: #fff;
}





.Menu li:hover > a, .Menu li.over a{
    color:#fff;
background: #f8005f; /* Old browsers */
background: -moz-linear-gradient(top,  #f8005f 0%, #ff216b 81%, #ff999a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8005f), color-stop(81%,#ff216b), color-stop(100%,#ff999a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8005f 0%,#ff216b 81%,#ff999a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8005f 0%,#ff216b 81%,#ff999a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8005f 0%,#ff216b 81%,#ff999a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f8005f 0%,#ff216b 81%,#ff999a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8005f', endColorstr='#ff999a',GradientType=0 ); /* IE6-9 */

}
.Menu li ul li a:hover {
    color: #fff;
    background: #2b2727; /* Old browsers */
background: -moz-linear-gradient(top,  #2b2727 0%, #000000 84%, #8e8e8e 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b2727), color-stop(84%,#000000), color-stop(99%,#8e8e8e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2b2727 0%,#000000 84%,#8e8e8e 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2b2727 0%,#000000 84%,#8e8e8e 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2b2727 0%,#000000 84%,#8e8e8e 99%); /* IE10+ */
background: linear-gradient(to bottom,  #2b2727 0%,#000000 84%,#8e8e8e 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2727', endColorstr='#8e8e8e',GradientType=0 ); /* IE6-9 */

}
.ActivePage{
    color:#fff;
 background: #f8005f; /* Old browsers */
background: -moz-linear-gradient(top,  #f8005f 0%, #ff216b 81%, #ff999a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8005f), color-stop(81%,#ff216b), color-stop(100%,#ff999a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8005f 0%,#ff216b 81%,#ff999a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8005f 0%,#ff216b 81%,#ff999a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8005f 0%,#ff216b 81%,#ff999a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f8005f 0%,#ff216b 81%,#ff999a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8005f', endColorstr='#ff999a',GradientType=0 ); /* IE6-9 */
   
}
.Menu li ul li a {
    color: #fff;
    border:none;
}
#Outer {
    
}


#Header {
padding-bottom: 10px;
}

#Logo h1 {
    color: #fff;
    background: url(../../default/images/blue/Logo.png) top left no-repeat;
}

#Logo h1 a {
    color: #fff;
}

#SearchForm {
    color: #95bbd1;
}

#SearchForm label {
    color: #fff;
}

#SearchForm a {
    color: #b1ccdc;
}

#SearchForm a:hover {
    color: #fff;
}

.Left {
    background: transparent url('../../default/images/blue/LeftBg.gif') no-repeat;
}

.Left li {
    border-bottom: 1px solid #c5dde9;
}

.Left li a:hover {
    color: #07599a;
}

.Content {
   
}

.Content a {
    color: #075899;
}

.Content.Wide {
 
}

.Content.Widest {
    background-image: url('../../default/images/ContentBgWidest.gif');
}


.Right {
    background: transparent url('../../default/images/blue/RightBg.gif') no-repeat;
}

.Right a {
    color: #034285;
}

.Right a:hover, .Right a:hover strong {
    color: #001927;
}

#Footer {
   
}

#Footer p a {
 color:#fff;
}

.Content .ProductList li {
    border: 1px solid #cddee2;
}

.Content .ProductList li:hover, .Content .ProductList li.Over {
    background: #DFF2F7;
}

.ProductList .ProductImage {
    background: #fff;
}

.ProductList strong, .ProductList strong a {
    color: #075899;
}

.ProductPrice, .ProductList em {
    color: #800000;
}

.ProductList .Rating {
    color: #797979;
}

.Right .ProductList li {
    border-bottom: 1px solid #c0dae7;
}

.Content .FeaturedProducts .ProductList li {
    background: #dff2f7;
}

.Content .FeaturedProducts .ProductList li:hover, .Content .FeaturedProducts .ProductList li.Over {
    background: #D2E8EE;
}

.Left .TopSellers li .TopSellerNumber, .Right .TopSellers li .TopSellerNumber { /* Contains the number of the item */
    background: url(../../default/images/blue/TopSellerNumberBg.gif) 0 4px no-repeat;
    color: #075899;
}

.Left .TopSellers li.TopSeller1, .Right .TopSellers li.TopSeller1 { /* No1 seller box */
    border: 1px solid #c0dae7;
    background: #fff;
}

.Left .TopSellers li.TopSeller1 .TopSellerNumber, .Right .TopSellers li.TopSeller1 .TopSellerNumber {
    background: url(../../default/images/blue/TopSellerNumber1Bg.png) 0 0 no-repeat;
    color: #075899;
}

.Breadcrumb {
    border-bottom: 1px solid #DCDFE2;
}


.CompareItem { width:200px; border-left: solid 1px #CACACA; }
.CompareFieldName { font-weight:bold; border-bottom: 1px solid #EFF8FA; }
.CompareFieldTop { border-bottom:solid 1px #85BADF; }
.CompareFieldTop a:hover { color:red; }
.CompareCenter { border-left:solid 1px #85BADF; border-bottom:solid 1px #F2F2F2; }
.CompareLeft { border-left:solid 1px #85BADF; border-bottom:solid 1px #F2F2F2; }

.ViewCartLink {
    background: url('../../default/images/blue/Cart.gif') no-repeat 3px 0;
}

table.CartContents, table.General {
    border: 1px solid #c7d7db;
}

.CartContents thead tr th, table.General thead tr th {
    background: #edf2f3;
    color: #424748;
    border-bottom: 1px solid #c7d7db;
}

.CartContents tfoot .SubTotal td {
    border-top: 1px solid #c7d7db;
    color: #075899;
}

.MiniCart .SubTotal {
    color: #075899;
}

.JustAddedProduct {
    border: 1px solid #c0dae7;
    background: #fff;
}

.JustAddedProduct strong, .JustAddedProduct a {
    color: #075899;
}

.CategoryPagination {
    color: #034285;
    background: #f4fbfc;
    border: 1px solid #c0dae7;
}

.CheckoutRedeemCoupon { background: #EAFDFF; padding: 10px; width: 300px; border: 1px solid #9DD3D8; margin-bottom: 10px; }

.SubCategoryList, .SubBrandList {
    background:#EEF5F9;
}

.InfoMessage {
    background: #EFF8FA url('../../default/images/InfoMessage.gif') no-repeat 5px 8px;
    color: #555;
}

.SuccessMessage {
    background: #E8FFDF url('../../default/images/SuccessMessage.gif') no-repeat 5px 8px;
    color: #555;
}

.ErrorMessage {
    background: #FFECEC url('../../default/images/ErrorMessage.gif') no-repeat 5px 8px;
    color: #555;
}

.ComparisonTable tr:hover td, .ComparisonTable tr.Over td {
    background: #EFF8FA;
}

/* Shipping Estimation on Cart Contents Page */
.EstimateShipping {
    border: 1px solid #c7d7db;
    background: #edf2f3;
}

/* Express Checkout */
.ExpressCheckoutBlock .ExpressCheckoutTitle {
    background: #dcf0f5;
    border: 1px solid #bce0e8;
}

.ExpressCheckoutBlockCollapsed .ExpressCheckoutTitle {
    background: #f0f0f0;
    border: 1px solid #ddd;
    color: #555;
}

.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent {
    color: #888;
}

/* Tabbed Navigation */
.TabNav {
    border-bottom: 1px solid #3d9abe;
}

.TabNav li a {
    border: 1px solid #3d9abe;
    background: #ddf0f6;
}

.TabNav li a:hover {
    background-color: #c8e6ed;
}

.TabNav li.Active a {
    border-bottom: 1px solid #fff;
    background: #fff;
}

/* General Tables */
table.General tbody tr td {
    border-top: 1px solid #efefef;
}

/* Product Videos */

#VideoContainer {
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.currentVideo {
    background-color: #ddf0f6;
}

.videoRow:hover {
    background-color: #efefef;
}

/* Product Videos */

#VideoContainer {
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.currentVideo {
    background-color: #ddf0f6;
}

.videoRow:hover {
    background-color: #efefef;
}

#SearchResultsCategoryAndBrand {
    background-color: #EEF5F9;
}

.CartContents .ItemShipping th {
    border-bottom-color: #c7d7db;
    border-top-color: #c7d7db;
    background: #edf2f3;
}
.side-media{
 position:fixed;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;  
 width: 80px;
 height:270px;
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

 
 border:solid 3px #FFF;
    box-shadow:0px 0px 8px #666;
    z-index:1000;
    border-radius:0px 20px 30px 0px;
    
 left: -70px;
    
 bottom: 22%;
    
}
.side-media:hover{
 left:-5px;   
}
.side-media a{
    float:left;
    margin-left: 35px;
margin-top: 19px;
}
.slider-outer{
 width:100%;  
}
.c1{
 float:left;   
 width: 340px;
 margin-right:30px;
 padding:15px;
 height:370px;   
}
.clr1{
 
background: rgba(241,231,103,1);
background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
   
}

.clr1 h2{
 border-bottom-color:#C2AE18;   
}
.clr1 p{
 color:#4B2B00   
}
.clr2{
 
background: rgba(147,206,222,1);
background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
   
}
.clr3{
 
background: rgba(179,243,245,1);
background: -moz-linear-gradient(top, rgba(179,243,245,1) 0%, rgba(72,207,185,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,243,245,1)), color-stop(100%, rgba(72,207,185,1)));
background: -webkit-linear-gradient(top, rgba(179,243,245,1) 0%, rgba(72,207,185,1) 100%);
background: -o-linear-gradient(top, rgba(179,243,245,1) 0%, rgba(72,207,185,1) 100%);
background: -ms-linear-gradient(top, rgba(179,243,245,1) 0%, rgba(72,207,185,1) 100%);
background: linear-gradient(to bottom, rgba(179,243,245,1) 0%, rgba(72,207,185,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3f3f5', endColorstr='#48cfb9', GradientType=0 );
   
}
.clr3 h2{
 border-bottom-color:#35C5A1;   
}
.c2{
 float: left;
width: 1170px;
margin-right: 60px;
height: 125px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;  
    background: #ffc578; /* Old browsers */
background: -moz-linear-gradient(top,  #ffc578 0%, #fb9d23 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffc578 0%,#fb9d23 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */

}
.c2 h2{
 color:#fff;
background: #5ea2c4; /* Old browsers */
background: -moz-linear-gradient(top,  #5ea2c4 0%, #258dc8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ea2c4), color-stop(100%,#258dc8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5ea2c4 0%,#258dc8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5ea2c4 0%,#258dc8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5ea2c4 0%,#258dc8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5ea2c4 0%,#258dc8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ea2c4', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */;   text-align:center;
}
.full-image{
 float:left;   
 width:100%;
 height:490px;
 margin-top:50px;
 margin-bottom:50px;   
 background: url('../../../product_images/uploaded_images/page1-bg1.jpg') no-repeat;   
    padding-top: 25px;
}
#subscribe_form{
 float: left;
margin-left: 33px;
margin-top: 20px; 
}
.more{
 font-weigt:bold;
 color:#A55C16;
    
}
.img-prev{
 float:left;
 width:590px;   
    margin-top: 30px;
}
.img-thumbs{
 float:left;
 width: 575px;   
}
.img-thumbs .more:hover{
    color:#fff;
}
.img-thumbs .more{
    font-size:18px;
    margin-left:10px;
}
.img-thumbs li{
 float:left;
 list-style:none;
 margin: 8px;
 border: 4px solid transparent;
 cursor:pointer;
 -webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-ms-transition: all 300ms linear;
-o-transition: all 300ms linear;
transition: all 300ms linear;   
}
.img-thumbs li:hover{
  border-color:#000;  
}
.gall1 li{
 display:none;
 list-style:none;   
}
#HomeRecentBlogs li{
 list-style:none;
 margin-bottom:10px;
     padding-bottom:10px;

    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:#FFF;
}
#HomeRecentBlogs li a{
 font-size:15px;   
}
#captcha{
 padding:7px;   
}
.ContactButton{
 background: #563d7c; /* Old browsers */
background: -moz-linear-gradient(top,  #563d7c 0%, #734f99 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#563d7c), color-stop(100%,#734f99)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #563d7c 0%,#734f99 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #563d7c 0%,#734f99 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #563d7c 0%,#734f99 100%); /* IE10+ */
background: linear-gradient(to bottom,  #563d7c 0%,#734f99 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#563d7c', endColorstr='#734f99',GradientType=0 ); /* IE6-9 */
color:#FFF;
font-size:14px;
border:solid 1px #B386E0;
padding:7px;
    cursor:pointer;
}
.ContactButton:hover{
 background: #b386e0; /* Old browsers */
background: -moz-linear-gradient(top,  #b386e0 0%, #563d7c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b386e0), color-stop(100%,#563d7c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b386e0 0%,#563d7c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b386e0 0%,#563d7c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b386e0 0%,#563d7c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b386e0 0%,#563d7c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b386e0', endColorstr='#563d7c',GradientType=0 ); /* IE6-9 */
   
}
#PageContent img{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
  border:solid 4px #fff;
  box-shadow:0px 0px 5px #999;
  margin:35px;  
}
#PageContent li{
 font-family:Arial;
    color:#ADAEAF;
}
#toTop {
display:none;
    width: 24px;
    height: 24px;
    background: url(../../../product_images/uploaded_images/top.png) no-repeat;
    position: fixed;
    margin-right: -640px !important;
    right: 50%;
    bottom: 120px;
    z-index: 999;
}
#toTop:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.c3{
 float:left;
 width:275px;
 margin-right: 23px; 
}
.c3 img{
 border-top:solid 5px transparent;
    -webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-ms-transition: all 300ms linear;
-o-transition: all 300ms linear;
transition: all 300ms linear;
}
.c3:hover img{
 border-top-color:#006666;   
}
.c3 h2{
text-align: center;
font-size: 30px;
color: #006666;
padding-top: 5px;
margin-bottom: 60px;
    background: #fff023; /* Old browsers */
background: -moz-linear-gradient(top,  #fff023 0%, #f1da36 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff023), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fff023 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fff023 0%,#f1da36 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fff023 0%,#f1da36 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fff023 0%,#f1da36 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff023', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

}
.social a {
 border:none !important;   
}
.simply-scroll{
 height:500px;   
}
.simply-scroll .simply-scroll-clip {
 width:1170px;
 height:500px;   
}
.simply-scroll .simply-scroll-clip li {
 height:480px;   
 background-color:white;
}