* {
 margin: 0px;
 padding: 0px;
 font-family: helvetica neue, helvetica, arial, sans-serif;
 font-weight: 200;
}
body 
{ 
    background-color:black

}
.nav {
  position: fixed;
  top: 0px;
  height: 60px;
  background: #006666;
  left: -10px;
  right: -50px;
  text-align: center;
  color: #fff;
  line-height: 100px;
  width: 2345px;
    }

.content {
  height: 2px;
  padding: 20px;
  color:#fff;
  width:728px;
  margin:150px auto;
}
.content p {
  margin: 20px 0;
}